@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

$font: 'Roboto', sans-serif;
$font-serif: 'Roboto Slab', serif;

$font-xx-small: 0.75rem;
$font-x-small: 0.85rem;
$font-small: 1rem;
$font-medium: 1.35rem;
$font-large: 1.8rem;
$font-x-large: 2.0rem;
$font-xx-large: 2.4rem;
$font-xxx-large: 3rem;


$white-color: #ffffff;
$black-color: #000000;

$mobile-max-width: 600px;
$tablet-min-width: 601px;
$tablet-max-width: 992px;
$desktop-min-width: 993px;
